@model Cookbook.Models.RecipeViewModels.RecipeViewModel
@{
    ViewBag.SiteName = "Cookbook";
    ViewBag.Title = "Details";
}

<div class="col-sm-6 col-sm-offset-3">
    <h1>@Model.Name</h1>
    <div class="small">
        <p>Created by @Model.UserName</p>
    </div>
    <div>
        <p>Serves: @Model.Serves</p>
    </div>
    <div>
        <h3>Ingredients</h3>
        <ul>
            @foreach (var item in Model.Ingredients.OrderBy(i => i.Order))
            {
                <li>@item.Description</li>
            }
        </ul>
    </div>
    <div>
        <h3>Method</h3>
        <ol>
            @foreach (var item in Model.Method.OrderBy(m => m.Order))
            {
                <li>@item.Task</li>
            }
        </ol>
    </div>
    @if (Model.IsPrivate)
    {
        <div>
            <p class="text-warning">Recipe is Private</p>
        </div>
    }
    <div class="well">
        <input type="hidden" value="@Model.Id" name="id" />
        <a class="btn btn-success" asp-controller="recipe" asp-action="edit" asp-route-id="@Model.Id">Modify</a>
        <a class="btn btn-danger deleteBtn pull-right">Delete</a>
    </div>
</div>


<div id="deletePrompt" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete @Model.Name</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the recipe for "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="confirm">Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>